.App {
  text-align: center;
}
code.bash {
  color: #28a745;
}

code.xml {
  color: #d14;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.gpt-heading {
  font-size: 18px;
  font-weight: bold;
}
.code-container {
  position: relative;
  white-space:initial;
}

.copy-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
}

.copy-btn:hover {
  background-color: #0056b3;
}
.code-block {
  background-color: rgba(0, 0, 0, 0.451);
  padding: 10px;
  border-radius: 5px;
  font-family: monospace;
  font-size: 0.9rem;
  margin: 0px;
  color: white;
  overflow-x: auto;
  white-space: pre-wrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
